---
type tarjetas = {
    title: string;
    description: string;
    lenguajes: string[];
    img: string;
    linkGit: string;
    link: string;
};
const data: tarjetas[] = [
    {
        title: "Sistema de stock",
        description:
            "Desarrollé un robusto Sistema de Stock utilizando una variedad de tecnologías web modernas. Este sistema fue diseñado para abordar eficazmente los desafíos de gestión de inventario para locales y empresas.",
        lenguajes: [
            "/logos/logos_react.svg",
            "/logos/css.svg",
            "/logos/redux.svg",
        ],
        img: "/sistema.jpeg",
        linkGit: "#",
        link: "https://testing.stckmanager.com/",
    },
    {
        title: "Pagina Web",
        description:
            "Desarrollé un robusto Sistema de Stock utilizando una variedad de tecnologías web modernas. Este sistema fue diseñado para abordar eficazmente los desafíos de gestión de inventario para locales y empresas.",
        lenguajes: ["/logos/logos_react.svg", "/logos/css.svg"],
        img: "/paginaWeb.jpeg",
        linkGit: "#",
        link: "https://agustin.minos.urltemporal.com/web/",
    },
    {
        title: "Booking Clone",
        description:
            "Este proyecto es un clon inspirado en la aplicación original Booking que se centra en metodo para alquilar hoteles,etc. Mi objetivo al crear este clon fue aprender y practicar mis habilidades de desarrollo web.",
        lenguajes: ["/logos/logos_react.svg", "/logos/css.svg"],
        img: "/booking.jpeg",
        linkGit: "#",
        link: "https://booking-clone-ktrteci3e-linearesdiego.vercel.app/",
    },
    {
        title: "Todo App (Drag and Drop)",
        description:
            "Este proyecto es un clon inspirado en la aplicación original Booking que se centra en metodo para alquilar hoteles,etc. Mi objetivo al crear este clon fue aprender y practicar mis habilidades de desarrollo web.",
        lenguajes: ["/logos/logos_react.svg", "/logos/css.svg"],
        img: "/reactDragOnDrop.jpeg",
        linkGit: "https://github.com/linearesdiego/todoAppDrangAndDrop",
        link: "https://todo-app-drang-and-drop.vercel.app/",
    },
];
---

<section id="experiencia" class="w-11/12 py-3 mx-auto overflow-hidden">
    <div class="w-full flex flex-col gap-6 items-center mt-4">
        <span
            class="text-xl p-4 rounded-[16px] bg-custom-color text-blue-900 font-bold w-fit text-center"
            >💼 Proyectos · Experiencias</span
        >

        <h1 class="text-white text-2xl font-bold text-center mb-4">
            PROYECTOS
        </h1>
    </div>
    <div
        class="lg:w-full flex gap-6 flex-row flex-wrap items-center justify-between"
    >
        {
            data.map((proyecto) => (
                <div class="w-96 bg-custom-color shadow-lg rounded-3xl overflow-hidden">
                    <img
                        src={proyecto.img}
                        class="object-cover aspect-video"
                        alt="proyecto 2"
                    />
                    <div class="w-full text-center px-4">
                        <h3 class="mt-6 text-blue-900 uppercase text-xl font-bold">
                            {proyecto.title}
                        </h3>
                        <div class="my-6 flex justify-center gap-4">
                            {proyecto.lenguajes.map((item) => (
                                <img width={30} src={item} alt="" />
                            ))}
                        </div>
                        <div class="flex justify-between my-6 px-6">
                            <a
                                href={proyecto.link}
                                class="flex items-center gap-2"
                                target="_blank"
                            >
                                <img
                                    src="/vistaPrevia.svg"
                                    class=""
                                    width={20}
                                    alt="GitHub"
                                />

                                <h4 class="underline text-slate-50">
                                    Vista Previa
                                </h4>
                            </a>
                            <a
                                href={proyecto.linkGit}
                                class="flex items-center gap-2"
                                target="_blank"
                            >
                                <img
                                    src="/logos/github.svg"
                                    class=""
                                    width={20}
                                    alt="GitHub"
                                />
                                <h4 class="underline text-slate-50">
                                    Ver codigo
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>

    <!--  <div
        class="w-full flex flex-col items-center rounded-md overflow-hidden md:flex-row justify-center gap-6"
    >
        
    </div> -->
</section>
